{% extends 'main.html' %}

{% block 'content' %}
<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
</style>


<div class="home-container">
  <div>
      <h3>Browse Topics</h3>
      <h5>{{topic_count}} Topics Available</h5>
      <hr />
      <div>
        <a href="{% url 'home' %}">All</a>
    </div>
        {% for topic in topics %}
        <div>
            <a href="{% url 'home' %}?topic={{topic.name}}">{{topic.name}}</a>
        </div>
        {% endfor %}
  </div>
  <div>
    <h3>Rooms</h3>
    <h5>{{room_count}} Rooms Available</h5>
    <h3><a href="{% url 'room_form' %}">Create Room</a></h3>
    {% for room in data %}
    <a href="{% url 'update_room' room.id %}">Edit</a>
    <a href="{% url 'delete_room' room.id %}">Delete</a>
    <h3>{{room.host.username}}</h3>
    <h5>{{room.id}} -> <a href="{% url 'room' room.id %}">{{room.name}}</a></h5>
    <p>{{room.topic}}</p>
    <hr />
    {% endfor %}
  </div>
</div>

{% endblock 'content' %}
